black==26.1.0
click==8.3.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.3
platformdirs==4.5.1
py4j==0.10.9.9
pyspark==4.1.1
pytokens==0.4.0
PyYAML==6.0.3
black==26.1.0
click==8.3.1
kafka-python==2.3.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.3
platformdirs==4.5.1
py4j==0.10.9.9
pyspark==4.1.1
pytokens==0.4.0
PyYAML==6.0.3
